:root {
  --foreground-color: #A16A95;
  --background-color: #110411;
}

body {
  font-family: "Consolas", monospace;
  color: var(--foreground-color);
  background-color: var(--background-color);
  padding: 10px;
  line-height: 1.6;
}

p {
  margin-top: 0px;
}

a {
  margin: 0;
}

a {
  color: var(--foreground-color);
}

a:hover, a:active {
  color: #bc4759;
}

.no-margin {
  margin: 0;
}

.container {
  max-width: 800px;
}

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
  max-width: 300px;
  position: fixed;
  padding: 0 20px;
  background: black;
  right: 10px;
}

.header {
  margin: 20px 0;
  border-bottom: 2px solid var(--foreground-color);
}

.content {
  margin: 20px 0;
}

@media screen and (max-width: 1200px) {
  .sidebar, .container {
    margin: auto;
  }
  .sidebar {
    max-width: 800px;
    position: relative;
    overflow: auto;
  }
  .sidebar:after {
    content: "";
    display: table;
    clear: both;
  }
}
