:root {
  --foreground-color: #A16A95;
  --background-color: #110411;
}

body {
  font-family: "Consolas", monospace;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.no-margin {
  margin: 0;
}

a {
  margin: 0;
}

a {
  color: var(--foreground-color);
}

a:hover, a:active {
  color: #bc4759;
}

.header {
  margin: 20px 0;
  border-bottom: 2px solid var(--foreground-color);
}

.content {
  margin: 20px 0;
}
