@import url('fonts/Px437_IBM_VGA8.ttf');
body {
  font-family: IBMVGA8, monospace;
  color: #ef5c73;
  background-color: #061041;
}

p, a {
  margin: 0;
}

a {
  color: #ef5c73;
}

a:hover, a:active {
  color: #bc4759;
}

.header {
  margin: 20px 0;
  border-bottom: 2px solid #ef5c73;
}

.content {
  margin: 20px 0;
}
