RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} !^necro.tech$ [NC]
RewriteRule ^(.*)$ http://necro.tech/$1 [L,R=301]
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]
