<nav class="sidebar">
    <div class="header">
      <h1 class="no-margin"><strong><a href="/">necro.tech</a></strong><a class="skip" aria-label="Skip to content" href="#content"> &#9660;</a></h1>
    </div>
    <div class="content">
      <p class="no-margin">Labour is entitled to all it creates.</p>
    </div>
    <div class="header">
      <h2 class="no-margin"><strong>me</strong></h2>
    </div>
    <div class="content">
      <p class="no-margin"><a rel="me noopener" target="_blank" href="https://ghost.cafe/@NecroTechno">social</a></p>
      <p class="no-margin"><a rel="me noopener" target="_blank" href="https://tilde.club/~necrotechno/">tilde.club</a></p>
      <p ><a rel="me noopener" target="_blank" href="https://glitch.com/@NecroTechno">glitch</a></p>
      <p class="no-margin"><a href="mailto:necrotechno@riseup.net">email</a></p>
      <p class="no-margin">GPG - 538F 53D1 B8C9 69BB 3B56 D131 BF09 9E07 53F0 A785</p>
    </div>
    <div class="header">
      <h2 class="no-margin"><strong>stats</strong></h2>
    </div>
    <div class="content">
      <p class="no-margin">Page size: {{ page.data.page_size }}KB</p>
      <p class="no-margin">Data transfer cost: <a rel="noopener" target="_blank" href="https://onlinelibrary.wiley.com/doi/full/10.1111/jiec.12630">{{ page.data.page_size | times: 0.00006 | round: 7}} Wh</a></p>
    </div>
</nav>
