<div class="sidebar">
    <div class="header">
      <p class="no-margin"><strong><a href="/">necro.tech</a></strong></p>
    </div>
    <div class="content">
      <p class="no-margin">Labour is entitled to all it creates.</p>
    </div>
    <div class="header">
      <p class="no-margin"><strong>me</strong></p>
    </div>
    <div class="content">
      <p class="no-margin"><a rel="me" target="_blank" href="https://ghost.cafe/@NecroTechno">social</a></p>
      <p class="no-margin"><a rel="me" target="_blank" href="https://tilde.club/~necrotechno/">~</a></p>
      <p ><a rel="me" target="_blank" href="https://glitch.com/@NecroTechno">glitch</a></p>
      <p class="no-margin"><a href="mailto:necrotechno@riseup.net">email</a></p>
      <p class="no-margin">GPG - 538F 53D1 B8C9 69BB 3B56 D131 BF09 9E07 53F0 A785</p>
    </div>
</div>
